* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    padding: 3rem 3rem 0rem;
}

footer {
    display: flex;
    padding: 1rem;
    justify-content: start;
    background-color: rgb(232, 232, 232);
    margin-top: 20px;
}

.primary-button {
    padding: 0.7rem;
    background-color: #007bff;
    color: #ffff;
    border-radius: 0.3rem;
    text-align: center;
}

.container {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 232, 232);
}

.nav-menu {
    margin-right: 0.5rem;
    gap: 2rem;
    a {
        color: black;
    }
}

#about-me {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 2rem;
    img {
        width: 50%;
    }
}

#description-about-me {
    display: block;
    h4 {
        margin-top: 1rem;
        color: gray
    }
    p {
        margin-top: 2rem;
    }
}

#projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
    .container {
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0px;
        gap: 1em;
    }
}

.card-project {
    display: block;
    width: 17rem;
    padding: 1em;
    background-color: rgb(231, 231, 231);
    img {
        width: 100%;
    }
}

.card-project-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    p {
        color: gray;
        font-size: 0.9em;
    }
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    form {
        border: 1px solid rgb(181, 181, 181);
        border-radius: 0.5em;
        display: block;
        width: 70%;
        padding: 1.5em;
    }
}

.input-container {
    margin-bottom: 1em;
}

.form-label {
    display: block;
    margin-bottom: 0.3em;
}

.form-input {
    border-radius: 0.5em;
    padding: 0.7em;
    opacity: 0.5;
    width: 100%;
    border: 1px solid rgb(181, 181, 181);
}

#social-media-container {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    gap: 1em;
    a {
        display: flex;
        justify-content: center;
        width: 3em;
    }
    img {
        width: 100%;
    }
}

#menu-icon {
    display: none;
    img {
        max-width: 40px;
    }
}

#goTop {
    position: fixed;
    align-items: center;
    border-radius: 100%;
    right: 2em;
    bottom: 3em;
    z-index: 1000;
    img {
        width: 3em;
    }
}

/* Responsivity */
@media (max-width: 768px) {
    .navbar {
        position: relative;
    }
    #menu-icon {
        display: block;
        cursor: pointer;
    }
    .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1em;
        width: 100%;
        top: calc(100%);
        left: 0px;
        background-color: black;
        padding: 1em;

        /* Transition*/
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s ease-in-out;

        li {
            width: 100%;
        }
        a {
            padding: 0.5em;
            color: white;
            display: flex;
        }
    }.is-open {
        transform: scaleY(1);
    }

    #about-me {
        display: block;
    }

    #about-me > img {
        width: 100%;
        margin-bottom: 20px;
    }


    #contacts {
        padding: 3rem 1em;
        form {
            width: 100%;
        }
    }

}

@media (max-width: 659px) {
    .card-project {
        min-width: 100%;
    }
}